
.heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--heading-color); /* Use a CSS variable for the heading color */
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: var(--booklist-bg);
}

.bookCard {
  background-color: var(--card-bg); /* Theme-dependent background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
  transition: transform 0.2s ease;
}

.bookCard:hover {
  transform: translateY(-5px);
}

.bookTitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--title-color); /* Use a CSS variable for the title color */
  margin-bottom: 10px;
}

.bookAuthor,
.bookGenre {
  font-size: 14px;
  color: var(--text-color); /* Use a CSS variable for general text color */
  margin-bottom: 5px;
}

.bookDescription {
  font-size: 14px;
  color: var(--description-color); /* Theme-dependent description color */
  margin-bottom: 10px;
}

.bookPrice {
  font-size: 16px;
  font-weight: bold;
  color: var(--price-color); /* Use a CSS variable for the price color */
  margin-bottom: 10px;
}

.bookRating {
  font-size: 14px;
  color: var(--rating-color); /* Use a CSS variable for the rating color */
}

.book-details {
  margin-bottom: 10px;
}

.reviewSection {
  background-color: var(--booklist-bg);
  padding: 2rem;
  border-radius: 0.75rem;
  margin-top: 2.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.reviewHeading {
  color: var(--title-color);
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--rating-color);
  padding-bottom: 0.5rem;
  font-weight: bold;
}

.reviewList {
  list-style: none;
  padding: 0;
}

.reviewItem {
  background-color: var(--item-bg);
  padding: 1.5rem;
  border-radius: 0.75rem;
  margin-bottom: 1.5rem;
  color: var(--item-text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.reviewItem:hover {
  transform: translateY(-3px);
  background-color: var(--item-hover-bg);
}

.reviewUser {
  font-weight: bold;
  color: var(--title-color);
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.reviewRating {
  color: var(--rating-color);
  font-size: 1.1rem;
  margin: 0.3rem 0;
}

.reviewRating span {
  font-weight: bold;
}

.reviewComment {
  color: var(--description-color);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

@media (max-width: 768px) {
  .reviewSection {
    padding: 1.5rem;
  }

  .reviewItem {
    padding: 1.2rem;
  }

  .reviewHeading {
    font-size: 1.5rem;
  }

  .reviewUser {
    font-size: 1.1rem;
  }

  .reviewRating {
    font-size: 1rem;
  }

  .reviewComment {
    font-size: 0.95rem;
  }
}
